body {
  background-color: #666;
}
#canvas {
  background-color: #000;
  position:absolute;
  top:0px;
  left:0px;
}
#canvas_bg {
  background-color: transparent;
  position:absolute;
  top:0px;
  left:0px;
}
